@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.ttf');
}
@font-face {
    font-family: "Rochester";
    src: url('../fonts/Rochester.ttf');
}
@font-face {
    font-family: "RobotoSerif";
    src: url('../fonts/RobotoSerif.ttf');
}
@font-face {
    font-family: "RubikOne";
    src: url('../fonts/RubikOne.ttf');
}
@font-face {
    font-family: "Silkscreen";
    src: url('../fonts/Silkscreen.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', 'Inter', sans-serif;
    letter-spacing: 5%;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,p{
    margin: 0;
}

:root {
    --clr-p100: #fff;
    --clr-p200: #eee;
    --clr-p800: #333;
    --clr-p900: #000;
    --clr-accent: #0420;
}

body.dark {
    --clr-p100: #444;
    --clr-p200: #111;
    --clr-p800: #eee;
    --clr-p900: #fff;
}

body.accent {
    --clr-accent: var(--accent);
}


body {
    margin: 0;
    background-color: var(--clr-p200);
    color: var(--clr-p900);
    min-width: max-content;
    min-height: max-content;
}

/* Accent color */
body::after {
    z-index: -1;
    content: '';
    background-color: var(--clr-accent);
    opacity: 0.1;
    position: absolute;
    inset: 0;
}

.container {
    margin: 0 auto;
    padding: 12px;
    width: 300px;
    min-height: 200px;
}

nav {
    display: grid;
    grid-template-columns: 30px auto 30px;
}

/* Nav accent support */
nav > a,
nav a.active {
    position: relative;
    overflow: hidden;
}
nav > a::before,
nav a.active::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--clr-accent);
    opacity: .2;
}
nav > a > *,
nav a.active > * {
    z-index: 2;
}

nav > a {
    fill: var(--clr-p900);
    border: var(--clr-p900) 1px solid;
    background-color: var(--clr-p100);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: grid;
    opacity: 0;
    pointer-events: none;
    place-content: center;
    position: relative;
}

nav > a.active {
    opacity: 1;
    pointer-events: all;
}

nav .middle {
    display: flex;
    justify-content: center;
}

nav .middle a {
    display: flex;
    align-items: center;
    color: var(--clr-p900);
    text-decoration: none;
    font-size: 12px;
    padding: 6px 10px;
    border: 1px solid var(--clr-p900);
}

nav .middle a.active {
    background-color: var(--clr-p100);
    font-weight: 500;
}

nav .middle a:nth-of-type(1){
    padding-left: 19px;
    border-radius: 15px 0 0 15px;
}

nav .middle a:nth-of-type(2){
    border-left: none;
    padding-right: 19px;
    border-radius: 0 15px 15px 0;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

#home p {
    margin-top: 32px;
    font-size: 24px;
    font-weight: bold;
    opacity: .8;
    text-align: center;
    line-height: 1;
}

#home h1 {
    line-height: 1;
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

#settings .group {
   padding-top: 16px;
   display: grid;
   gap: 2px;
}

/* Main settings page, link accent */
#settings .group a::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--clr-accent);
    opacity: .2;
}
#settings .group a > * {
    z-index: 2;
}

#settings .group a {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 4px 8px;
    gap: 8px;
    border-radius: 4px;
    background-color: var(--clr-p100);
    fill: var(--clr-p800);
    font-size: 10px;
    color: var(--clr-p800);
}

#settings .group a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#settings .group a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#settings .group a .icon {
    display: flex;
    align-items: center;
}

#settings .group .text p {
    opacity: .8;
}

#settings .group .text .title {
    font-size: 12px;
    opacity: 1;
}

.sub-tab {
    font-size: 12px;
}

.sub-tab h2 {
    margin-top: 8px;
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}

.sub-tab .group {
    padding-top: 4px;
}

.sub-tab p{
    margin-bottom: 4px;
    color: var(--clr-p800);
}

/* All forms kinda look the same */
.sub-tab form {
    display: flex;
    gap: 2px;
}

.sub-tab form.disabled {
    /* Visually diabled */
    opacity: .5;
}

.sub-tab form input[type="checkbox"]{
    opacity: 0;
    position: fixed;
    pointer-events: none;
}

.sub-tab form input[type="checkbox"]:focus + * {
    outline: 1px solid red;
}
.sub-tab form input:checked + * {
    background-color: var(--clr-p100);
}

.sub-tab form label {
    border-radius: 4px;
    border: 1px solid var(--clr-p800);
    display: flex;
    gap: 4px;
    align-items: center;
    flex: 1;
    padding: 3px;
    padding-left: 7px;
    color: var(--clr-p800);
}

.sub-tab form label:first-of-type {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.sub-tab form label:last-of-type {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sub-tab form label .preview {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid var(--clr-p800);
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.sub-tab form label .preview svg {
    display: block;
    width: 20px;
    height: 20px;
}

.sub-tab form.chips label {
    flex: 0 1 auto;
    width: fit-content;
    padding-right: 7px;
    height: 18px;
    gap: 2px;
    border-radius: 4px;
}

input + label .selected{
    display: none;
}
input:checked + label .selected{
    display: unset;
}

.selected svg {
    display: block;
    fill: var(--clr-p800);
    width: 16px;
    height: 16px;
}

.font {
    width: 32px;
    height: 32px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inter {
    font-family: 'Inter';
}
.roboto {
    font-family: 'RobotoSerif';
}
.rubik {
    font-family: 'RubikOne';
}
.silkscreen{
    font-family: 'Silkscreen';
}
.rochester {
    font-family: 'Rochester';
}

color-picker {
    display: none;
}

color-picker:focus, color-picker:focus-within {
    display: inline-block;
}